@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background-color: #12022B; /* 深紫色背景色 */
    color: #fff;
  }

  .gradient-text {
    background: linear-gradient(90deg, #667eea, #764ba2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-border {
    border-image: linear-gradient(90deg, #667eea, #764ba2) 1;
  }

  .gradient-bg {
    background: linear-gradient(90deg, #667eea, #764ba2);
  }

  .btn {
    transition: transform 0.3s ease;
  }

  .btn:hover {
    transform: translateY(-2px);
  }

  .section-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 宽高比 */
    background: linear-gradient(90deg, #667eea, #764ba2);
  }

  .youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  .footer-gradient {
    background: linear-gradient(90deg, #42267B, #2b1d4e);
  }

  .sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* 确保导航栏在最上层 */
  }

  .hero-gradient-text {
    background: linear-gradient(90deg, #A243CB, #C368FF); /* 渐变从 #A243CB 到 #C368FF */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .sticky-nav nav a {
    font-size: 20px; /* 或使用 Tailwind 类，如 text-lg */
  }

  .nav-link-container {
    display: inline-block; /* 或者使用 flex 项来对齐 */
    margin-right: 0.5rem; /* 按需调整 */
    border-radius: 0.375rem; /* 圆角 */
    transition: background-color 0.3s; /* 平滑背景颜色过渡 */
    padding: 1rem; /* 增加的内边距 */
    min-height: 3rem; /* 设定最小高度 */
  }

  .nav-link-container:hover {
    background-color: #852CB6; /* 悬停时的背景颜色 */
  }

  .nav-link {
    padding: 0.5rem 4rem; /* 内边距 */
    display: block; /* 使链接填充整个容器 */
    color: white; /* 链接文字颜色 */
    text-decoration: none; /* 移除下划线 */
  }

  /* 整个页面的滚动条样式 */
  ::-webkit-scrollbar {
    width: 5px; /* 滚动条的宽度 */
  }

  /* 滚动条滑轨的样式 */
  ::-webkit-scrollbar-track {
    background: #100329; /* 滚动条滑轨的背景色 */
  }

  /* 滚动条滑块的样式 */
  ::-webkit-scrollbar-thumb {
    background: #852CB6; /* 您希望的滚动条颜色 */
  }

  /* 滚动条滑块悬停效果 */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* 滚动条滑块悬停时的颜色 */
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  button img {
    width: 20px;
    height: 20px;
  }